:root {
	--border_color: rgb(218, 226, 233);
	--line_height: 1.5em;
}
* {
	margin: 0;
	padding: 0;
}

div.separator {
	position: relative;
	height: 100px;
	text-align: center;
	font-size: 32px;
}
div.separator::before {
	position: absolute;
	height: 2px;
	background-color: var(--border_color);
	opacity: 0.5;
	top: calc(50% - 1px);
	left: 25%;
	right: 25%;
	content: '';
}
div.separator::after {
	position: absolute;
	width: var(--line_height);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #ffffff;
	color: var(--border_color);
	content: '❋';
}

dl {
	margin-top: 2em;
}
dl * {
	display: inline-block;
	vertical-align: middle;
}

dt {
	margin-right: 0.5em;
}

dd {
	font-weight: bold;
	margin-right: 2em;
}

header {
	position:relative;
}

header > div.headertext {
	color: #ffffff;
	position: relative;
	text-align: center;
	padding: 5em;
}
 
div.gradient {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 80%);
}

div.gradient > img {
	object-fit: cover;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

header svg {
	width: 24px;
	height: 24px;
}

input {
	font-size: 1rem;
}

table {
	border-collapse: collapse;
	border: 1px solid var(--border_color);
	width: 100%;
}

#IngredientsClone {
	position: fixed;
	visibility: hidden;
	background-color: white;
	max-height: 100%;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
	transform: translateX(-100%) translateX(1.5rem);
	transition: 0.25s;
}

td, th {
	text-align: left;
	padding: 8px;
	vertical-align: middle;
}

tr:nth-child(even) {
	background-color: var(--border_color);
}

th > svg {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5em;
}

figure {
	overflow-x: auto;
}

figure.instruction {
	margin: 0.5em auto;
}

figure.instruction figcaption {
	caption-side: bottom;
}

body {
	overflow-wrap: break-word;
	line-height: var(--line_height);
}

.content {
	padding: 1.5rem;
}

#Instructions  {
	margin: 0 0 0 2.5em;
}
ul li {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	list-style: none;
	position: relative;
}
ul li::before {
	content: '❧';
	color: var(--border_color);
	opacity: 1;
	position: absolute;
	left: -1.4em;
}
