:root {
	--accent-color: #ffd300;
	--line_height: 1.5;
	--background-color: #f0ead6;
	background-color: var(--background-color);
}
* {
	margin: 0;
	padding: 0;
}

div.separator {
	position: relative;
	height: 100px;
	text-align: center;
	font-size: 32px;
}
div.separator::before {
	position: absolute;
	height: 2px;
	background-color: var(--accent-color);
	opacity: 0.5;
	top: calc(50% - 1px);
	left: 25%;
	right: 25%;
	content: '';
}
div.separator::after {
	position: absolute;
	width: var(--line_height);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #ffffff;
	color: var(--accent-color);
	content: '❋';
}

dl {
	margin-top: 2em;
}
dl * {
	display: inline-block;
	vertical-align: middle;
}

dt {
	margin-right: 0.5em;
}

dd {
	font-weight: bold;
	margin-right: 2em;
}

header {
	position: relative;
	text-align: center;
	padding: 5em;
}

header > div.headertext {
	font-family: 'Vollkorn', serif;
}
header img {
	width: 75%;
}

header svg {
	width: 24px;
	height: 24px;
}

input {
	font-size: 1rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table.ingredients {
	width: auto;
	margin: auto;
}

table.ingredients tr {
	border-bottom: 1px solid var(--background-color);
}

table.ingredients th {
	background-color: var(--background-color);
}

td, th {
	text-align: left;
	padding: 8px;
	vertical-align: middle;
}

td.amount {
	text-align: right;
}

th > svg {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5em;
}

#IngredientsClone {
	position: fixed;
	visibility: hidden;
	background-color: white;
	max-height: 100%;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
	transform: translateX(-100%) translateX(1.5rem);
	transition: 0.25s;
}

figure {
	overflow-x: auto;
}

figure.instruction {
	margin: 0.5em auto;
}

figure.instruction figcaption {
	caption-side: bottom;
}

body {
	overflow-wrap: break-word;
	line-height: var(--line_height);
	max-width: 1000px;
	margin: auto;
	background-color: white;
	background-clip: content-box;
	font-family: 'Lato', san-serif;
}

.content {
	padding: 1.5rem;
}

#Instructions  {
	margin: 0 0 0 2.5em;
}
ul li {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	list-style: none;
	position: relative;
}
ul li::before {
	content: '❧';
	color: var(--accent-color);
	opacity: 1;
	position: absolute;
	left: -1.4em;
}
