:root {
	--accent-color: #ffd300;
	--background-color: #FFFAFA;
	--line_height: 1.5;
	--link-accent-color: #3cc4a3;
	--link-color: #7fe0c7;
	--table-background-color: #f5fff5;
	--text-color: #3c3c3c;
	--title-color: #0d2040;
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: var(--line_height);
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--title-color);
	font-family: 'Vollkorn', serif;
	font-weight: 500;
}

header {
	position: relative;
	text-align: center;
	font-size: 30px;
	padding-top: 3em;
	padding-bottom: 3em;
}

header > #Home {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

header > *+* {
	margin-top: 1em;
}

header nav {
	font-family: 'Vollkorn', serif;
	font-size: 24px;
	vertical-align: bottom;
}
header > nav > * {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

nav svg {
	height: 1em;
	width: 1em;
}
nav a {
	position: relative;
}
nav a:after {
	position: absolute;
	content: '';
	left: -20px;
	right: -20px;
	top: -10px;
	bottom: -10px;
	background-color: #f5fff5;
	border-radius: 25px;
	z-index: -1;
	opacity: 0;
}
nav a:hover::after {
	opacity: 1;
}

header .story {
	font-size: 24px;
	color: #888;
	text-align: left;
	padding: 0 1em 0 1em;
}

header .hero {
	width: 75%;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
}

.title-info {
	color: #888;
	font-size: 0.5em;
	font-weight: 400;
}

.title-info svg {
	height: 1em;
	width: 1em;
}

input {
	font-size: 1rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.ingredients-box {
	border-radius: 8px;
	padding: 1em 2em;
	background-color: var(--background-color);
	box-shadow: 0 2px 8px rgba(112,236,197,0.25);
}
.ingredients-box svg {
	width: 1.5em;
	height: 1.5em;
}
.ingredients-box > *+* {
	margin-top: 2em;
}
table.ingredients {

}
table.ingredients td {
	padding: 1em .5em;
}
table.ingredients td:last-of-type {
	width: 100%;
}
table.ingredients tr+tr td {
	border-top: 1px solid #eeeff5;

}

table.ingredientz tr {
	border-bottom: 1px solid var(--background-color);
	background-color: white;
}

table.ingredientz th {
	background-color: var(--background-color);
}

td, th {
	text-align: left;
	padding: 8px;
	vertical-align: middle;
}

td.amount {
	text-align: right;
}

th > svg {
	width: 1rem;
	height: 1rem;
	margin-right: 0.5em;
}

#Ingredients {
	background-color: var(--table-background-color);
}

#IngredientsClone {
	position: fixed;
	transition: 0.25s;
	transform: translateX(-100%);
	visibility: hidden;
	background-color: transparent;
	max-height: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
}


#IngredientsClone table.ingredientz {
	cursor: pointer;
	margin: 0;
}
#IngredientsClone .ingredients-box {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	transition: 0.25s;
}

#IngredientsClone.visible {
	transform: translateX(0%);
}

#arrow {
	position: absolute;
	line-height: 1;
	left: 100%;
	cursor: pointer;
	padding-left: 2px;
	font-size: 3rem;
	color: var(--link-color);
	background-color: var(--background-color);
	box-shadow: -6px 0 0 rgba(255, 250, 250, 1), 0 1px 3px rgba(0, 0, 0,0.25);
}

#arrow:hover {
	color: var(--link-accent-color);
}

figure {
	overflow-x: auto;
}

figure.instruction {
	margin: 0.5em auto;
}

figure.instruction figcaption {
	caption-side: bottom;
}

.ingredient-container {
	padding-top: 50px;
	padding-bottom: 50px;
}
.content {
	padding: 2rem;
}

#Instructions  {
	margin: 0 0 0 2.5em;
}
#Instructions ul li {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	list-style: none;
	position: relative;
}
#Instructions ul li::before {
	content: '—';
	color: var(--link-accent-color);
	position: absolute;
	left: -1.4em;
}

ul.toc li {
	list-style: none;
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	justify-content: space-between;
}

ul.toc li time {
	margin-left: 1em;
	opacity: .6;
}

ul.toc li+li {
	border-top: 1px solid var(--background-color);
}

nav a {
	text-decoration: none;
	color: var(--link-color);
}
nav a:hover {
	color: var(--link-accent-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}
a:hover {
	color: var(--link-accent-color);
}
a::visited {
	color: inherit;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}