<div class='ingredients-box'>
Zutaten <input type='number' class='portions' value='1' min='0' step='any' lang='en'>
{% for ingredients in page.ingredient_list %}
{% assign section = ingredients[0] %}
{% assign list = ingredients[1] %}
<h3>{{ section }}</h3>

<table class='ingredients'>
{% for ingredient in list %}
    {% if ingredient.size == 3 %}
        <tr><td class='amount' base='{{ ingredient[0] }}'></td><td>{{ ingredient[1] }}</td><td>{{ ingredient[2] }}</td></tr>
    {% else %}
        <tr><td colspan="3">{{ ingredient }}</td></tr>
    {% endif %}
{% endfor %}
</table>
{% endfor %}
<svg><use href='images/icons.svg#oven'></use></svg> Backzeit: {{ page.oven_instructions }}

{% if page.tools %}
<h3>Zubehör</h3>
<table class='ingredients'>
{% for tool in page.tools %}
    <tr><td colspan='3'>{{ tool }}</td></tr>
{% endfor %}
</table>
{% endif %}
</div>
