<!DOCTYPE html>
<html lang="de">
	<head>
		<title>{{ page.title }}</title>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' href='style.css'>
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Vollkorn:wght@600&display=swap" rel="stylesheet"> 
	</head>
	<body onload='init()'>
		<header id='{{ page.title }}'>
			<div class='headertext'><h1>{{ page.title }}</h1></div>
			<img src='{{ page.header_image | relative_url }}'>
			<dl>
				<div title='Zeitaufwand'><dt><svg><use href='images/icons.svg#stopwatch'></use></svg></dt><dd>{{ page.duration | date: '%H:%M' }} h</dd></div>
				<div title='Portionen'><dt><svg><use href='images/icons.svg#servings'></use></svg></dt><dd>{{ page.servings }}</dd></div>
			</dl>
	</header>
	<div class='content'>
	<div class='separator'></div>
	<div id='Ingredients'>
		{% include ingredients_table.html %}
</div>

<div class='separator'></div>

<div id='Instructions'>
	{{ content }}
</div>
<div class='separator'></div>
<div id='IngredientsClone' onclick='toggleSideBar()'>{% include ingredients_table.html %}</div>

<div style='text-align: right; font-size: xx-small;'>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
 <script src="functions.js"></script> 
</body>
</html>
