<!DOCTYPE html>
<html lang="de">
	<head>
		<title>{{ page.title }}</title>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' href='style.css'>
	</head>
	<body onload='init()'>
		<header id='{{ page.title }}'>
			<div class='gradient'>
				<img src='{{ page.header_image | relative_url }}'>
			</div>
			<div class='headertext'>
				<h1>{{ page.title }}</h1>
				<dl>
					<dt><svg><use href='images/icons.svg#stopwatch'></use></svg></dt><dd>{{ page.duration | date: '%H:%M' }} h</dd>
					<dt><svg><use href='images/icons.svg#servings'></use></svg></dt><dd>{{ page.servings }}</dd>
				</dl>
			</div>
	</header>
	<div class='content'>
	<div class='separator'></div>
	<div id='Ingredients'>
		<table>
            <tr><th colspan='3'>Zutaten <input type='number' class='portions' value='1' min='0'></th></tr>
		{% for ingredients in page.ingredient_list %}
		{% assign section = ingredients[0] %}
		{% assign list = ingredients[1] %}
			{% if section.size > 0 %}<tr><th colspan='3'>{{ section }}</th></tr>{% endif %}
			{% for ingredient in list %}
				<tr><td class='amount' base='{{ ingredient[0] }}'></td><td>{{ ingredient[1] }}</td><td>{{ ingredient[2] }}</td></tr>
			{% endfor %}
		{% endfor %}
			<tr><th colspan='3'>Zubehör</th></tr>
		{% if page.tools %}{% for tool in page.tools %}
			<tr><td colspan='3'>{{ tool }}</td></tr>
		{% endfor %}{% endif %}
		{% if page.oven_instructions %}
			<tr><th colspan='3'><svg><use href='images/icons.svg#oven'></use></svg>Backzeit</th></tr>
			<tr><td colspan='3'>{{ page.oven_instructions }}</td></tr>
		{% endif %}
	</table>
</div>

<div class='separator'></div>

<div id='Instructions'>
	{{ content }}
</div>
<div class='separator'></div>
<div id='IngredientsClone' onclick='toggleSideBar()'></div>

<div style='text-align: right; font-size: xx-small;'>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
 <script src="functions.js"></script> 
</body>
</html>
